[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
psycopg2-binary = "==2.8.4"
django-crispy-forms = "==1.11.1"
social-auth-app-django = "*"
django-allauth = "==0.43.0"
pillow = "==8.3.1"
stripe = "==2.59.0"
django-debug-toolbar = "==3.2.1"

[dev-packages]

[requires]
python_version = "3.8"
