<!-- templates/home.html -->
{% extends '_base.html' %}

{% load static %}
{% load socialaccount %}
{% load i18n %}


{% block title %}Home{% endblock title %}


{% block content %}
<h1>Homepage</h1>
<img class="swallowpic" src="{% static 'images/swallow.jpeg' %}" alt="The African Swallow">
{% if user.is_authenticated %}
  <p>Hi {{ user.email }}!</p>
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'account_login' %}">Log In</a>
  <a href="{% url 'account_signup' %}">Sign Up</a>
  <br>
  <p> OR <br>
  Log in with your <a href="{% provider_login_url 'github' %}">GitHub</a> account</p>
  <br>
  <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
{% endif %}
{% endblock content %}